.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container input {
  width: 100%;
}

.login-container button {
  width: 100%;
  margin-bottom: 10px;
}

.login-container .hint {
  text-align: center;
  font-size: 12px;
  color: #666;
  list-style-type: none;
}
